body {
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

/* Heading */

nav {
  background-color: darkblue;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  /*display: table;*/
  }

.headline {
  text-align: left;
  margin: 0;
  padding: 5px;
  /*display: table-cell;*/
}

.profession {
  padding: 0 0 0 5px;
  margin: 0;
  text-align: left;
}

ul {
  margin: 5px 0;
  padding: 5px;
}

.pagelist {
  /*display: table-cell;*/
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  text-align: right;
}

.pagelist li {
  margin:0;
  padding-left: 10px;
  list-style-type: none;
  display: inline-block;
  font-size: 16px;
}

#resume {
  font-weight: bolder;
}

/* Text Section */

.text {
  background-color: royalblue;
}

.description {
  text-align: justify;
  width: 70%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Projects Section */

.projects {
  margin: 0 auto;
  text-align: center;
  background-color: royalblue;
  background-size: cover;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.about-me-image {
  width: 300px;
  padding: 5px 0.5em 0 0.5em;
}

.nyt-image {
  width: 300px;
  padding: 0 0.5em;
}

.landing-page-image {
  width: 300px;
  padding: 0 0.5em;
}

/* Footer */

footer {
  background-color: royalblue;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.social li {
  display: inline-block;
  padding: 5px 15px;
}







