body {
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
  background-color: black;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}


/* Heading */

nav {
  background-color: black;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  font-family: 'Vollkorn', serif;
  /*display: table;*/
  }

.headline {
  text-align: center;
  margin: 0;
  padding: 5px;
  /*display: table-cell;*/
}

.profession {
  padding: 0;
  margin: 0;
  text-align: center;
  font-style: italic;
}

.pagelist {
  /*display: table-cell;*/
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  text-align: center;
}

.pagelist ul {
  margin: 5px 0;
  padding: 5px;
}

.pagelist li {
  margin:0;
  padding: 0 5px;
  list-style-type: none;
  display: inline-block;
  font-size: 16px;
}

#resume {
  font-weight: bolder;
}

/* Text Section */

.picture {
  background-image: url('http://i.imgur.com/mJxBzcf.jpg');
  background-size: 1400px;
  background-position: center top;
  background-repeat: no-repeat;
  overflow: hidden;
}
.text {

}

.description {
  text-align: justify;
  width: 70%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  border-width: 1px 0;
  border-color: white;
  font-family: 'Exo', sans-serif;
  font-size: 14px;
}

/* Projects Section */

.projects {
  margin: 0 auto;
  text-align: center;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.about-me-image {
  width: 300px;
  padding: 5px 0.5em 0 0.5em;
}

.nyt-image {
  width: 300px;
  padding: 0 0.5em;
}

.landing-page-image {
  width: 300px;
  padding: 0 0.5em;
}

/* Footer */

footer {
  background-color: black;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-family: 'Exo', sans-serif;
}

.social {
  margin: 5px;
  padding: 0;
}

.social li {
display: inline-block;
padding: 5px 15px;
}

.copy {
  font-size: 6px;
  margin-bottom: 0;
  padding-bottom: 0;
}



