body {
  background-color: #047A4A;
}

/* Heading */

nav {
  background-color: #07346F;
  color: #047A4A;
  width: 100%;
  margin: 0;
  padding: 0;

  }

.topline {
}

.headline {
  text-align: center;
}

.pagelist {
  list-style-type: none;
  text-align: center;
  color: #047A4A;
  padding-left: 0;
}

.pagelist > li {
  display: inline-block;
  width: 33.33%;
  float: left;
}

#resume {
  color: white;
}

a:visited {
  color: white;
}

/* Projects Section */

.projects {
  margin: 1em auto;
  text-align: center;
}

.about-me-image {
  width: 300px;
  padding: 0 0.5em;
}

.nyt-image {
  width: 300px;
  padding: 0 0.5em;
}

.landing-page-image {
  width: 300px;
  padding: 0 0.5em;
}

/* Footer */

footer {
  background-color: #07346F;
  color: #047A4A;
  width: 100%;
  margin: 0;
  padding: 0;
}
